@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-main: #003459;
    --color-text-light: #667479;
    --color-text-dark: #00171F;
    --font: "Be Vietnam Pro", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.4;
    font-family: var(--font);
    background-color: #FDFDFD;
}

.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}


a {
    text-decoration: none;
}


.button {
    display: inline-flex;
    align-items: center;
    height: 44px;
    padding: 0 28px;
    color: #FDFDFD;
    font-weight: 700;
    font-size: 16px;
    background-color: var(--color-main);
    border-radius: 57px;
}

.outline-button {
    display: inline-flex;
    align-items: center;
    height: 48px;
    padding: 12px 28px;
    color: var(--color-main);
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border-radius: 57px;
    border: 1.5px solid var(--color-main);
    text-wrap: nowrap;
}

.outline-button:hover {
    transition: all 0.3s;
    background-color: #00ADEF;
    color: white;
    border-color: white;

    i {
        color: white;
        transition: all 0.3s;
    }
}

.outline-button i {
    font-size: 18px;
    color: var(--color-main);
    margin-left: 11px;
}

.solid-button {
    background-color: var(--color-main);
    color: white;
    padding: 12px 28px;
    display: inline-flex;
    align-items: center;
    height: 48px;
    font-weight: 500;
    text-wrap: nowrap;
}

.solid-button:hover {
    background-color: #00ADEF;
    transition: all 0.3s;
}

.header {
    padding: 28px 0;
    position: relative;
    z-index: 999;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.header .inner-search-mobile,
.header .inner-menu-mobile {
    display: none;
}

.header .logo img {
    height: 40px;
    width: auto;
}

.header .menu {
    flex: 1;
    text-align: center;
}

.header .menu ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    gap: 48px;
}

.header .menu ul li a {
    color: var(--color-main);
    font-size: 16.5px;
    font-weight: 700;
}

.header .inner-form {
    height: 44px;
    background-color: #F3F3F3;
    border-radius: 46px;
    width: 280px;
    padding: 0 16px;
    display: inline-flex;
    gap: 12px;
}

.header .inner-form input {
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1;
    height: 100%;
    order: 1;
}

.header .inner-form button {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--color-text-light);
    font-size: 16px;
    order: 0;
}

.header .button-join {
    height: 44px;
    border-radius: 57px;
    padding: 0 28px;
    background-color: var(--color-main);
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header .button-join:hover {
    background-color: #00ADEF;
    transition: all 0.3s;
}

@media (max-width: 1199.98px) {
    .header .button-join {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .header .inner-form {
        display: none;
    }

    .header .inner-wrap .inner-search-mobile {
        display: inline-flex;
        font-size: 23px;
        color: var(--color-text-dark);
    }
}

@media (max-width: 767.98px) {
    .header .menu {
        display: none;
    }

    .header .inner-wrap .inner-menu-mobile {
        display: inline-flex;
        font-size: 23px;
        color: var(--color-text-dark);
    }

    .header .logo img {
        height: 32px;
        width: auto;
    }

    .header {
        padding: 12.5px 0;
    }
}

.section-1 {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    margin-top: -102px;
    padding-top: 102px;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
}

.section-1 .inner-wrap {
    display: flex;
}

.section-1 .inner-content {
    width: 50%;
    padding-right: 76px;
    padding-top: 80px;
    position: relative;
}

.section-1 .inner-content .inner-bg-1 {
    position: absolute;
    top: 75px;
    left: 0px;
}

.section-1 .inner-content .inner-bg-2 {
    position: absolute;
    bottom: 0;
    right: -50px;
}

.section-1 .inner-content .inner-bg-3 {
    position: absolute;
    top: -110px;
    left: -130px;
}

.section-1 .inner-image .inner-bg-4 {
    position: absolute;
    bottom: 0;
    left: -120px;
}

.section-1 .inner-content .inner-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    color: #002A48;
    position: relative;
}

.section-1 .inner-content .inner-title-main {
    font-size: 60px;
}

.section-1 .inner-content .inner-title-sub {
    font-size: 46px;
}

.section-1 .inner-content .desc {
    font-size: 16px;
    font-weight: 500;
    color: #242B33;
}

.section-1 .inner-image {
    width: 50%;
    padding-right: 74px;
    position: relative;
}


.section-1 .inner-content .inner-buttons {
    display: flex;
    gap: 18px;
    margin-top: 34px;
}

.section-1 .inner-image .inner-img-main {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

@media (max-width: 1199.98px) {
    .section-1 .inner-content .inner-bg-2 {
        display: none;
    }

    .section-1 .inner-content .inner-title-main {
        font-size: 50px;
    }

    .section-1 .inner-content .inner-title-sub {
        font-size: 38px;
    }

    .section-1 .inner-content .inner-title .desc {
        font-size: 16px;
    }

    .section-1 .inner-image .inner-bg-4 {
        bottom: -90px;
        left: -100px;
    }
}

@media (max-width: 991.98px) {
    .section-1 .inner-wrap {
        flex-wrap: wrap;
    }

    .section-1 .inner-content {
        width: 100%;
        padding-top: 35px;
        padding-right: 0;
    }

    .section-1 .inner-image {
        width: 100%;
        padding-right: 0;
        margin-top: 25px;
    }

    .section-1 .inner-content .inner-bg-1 {
        display: none;
    }

    .section-1 .inner-image .inner-bg-4 {
        bottom: 0px;
        left: -50px;
    }
}

@media (max-width: 767.98px) {
    .section-1 .inner-image .inner-bg-4 {
        left: -20px;
    }

    .section-1 .inner-content .inner-bg-3 {
        left: 15%;
    }

    .section-1 .inner-content .inner-title-main {
        font-size: 46px;
    }

    .section-1 .inner-content .inner-title-sub {
        font-size: 28px;
    }

    .section-1 .inner-content .desc {
        font-size: 12px;
    }
}

@media (max-width: 575.98px) {
    .section-1 {
        border-radius: 0 0 20px 20px;
    }

    .section-1 .inner-image .inner-bg-4 {
        bottom: -115px;
        left: -30px;
    }

    .section-1 .inner-content {
        z-index: 1;
    }

    .section-1 .inner-content .inner-title {
        margin-bottom: 12px;
    }

    .section-1 .inner-content .inner-desc {
        margin-bottom: 32px;
    }

    .section-1 .inner-content .inner-bg-3 {
        left: 1%;
    }
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 28px;
}

.box-title .title-1 {
    font-size: 16px;
    font-weight: 500px;
    color: #000000;
    margin-bottom: 2px;
}

.box-title .title-2 {
    font-size: 24px;
    font-weight: 700px;
    color: var(--color-main);
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
}

.box-title .inner-right .inner-button,
.box-title .inner-right-mobile .inner-button {
    color: var(--color-main);
    background-color: transparent;
    border: 1.5px solid var(--color-main);
    padding: 0px 28px;
    border-radius: 57px;
    height: 44px;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

.box-title .inner-right .inner-button:hover,
.box-title .inner-right-mobile .inner-button:hover {
    background-color: #00ADEF;
    border-color: white;
    transition: all 0.3s;
    color: white;
}

.box-title .inner-right-mobile {
    display: none;
}

@media (max-width: 767.98px) {
    .box-title .inner-right {
        display: none;
    }

    .box-title .inner-right-mobile {
        display: block;
        margin-top: 16px;
        width: 100%;
    }

    .box-title .inner-right-mobile .inner-button {
        margin-top: 16px;
        width: 100%;
        justify-content: center;
        font-size: 16px;
    }
}

@media (max-width: 575.98px) {
    .box-title .title-1 {
        font-size: 14px;
    }

    .box-title .title-2 {
        font-size: 20px;
    }
}

.section-2 {
    padding: 60px 0;
}

.section-2 .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section-2 .inner-wrap .product-item {
    width: calc((100% - 60px)/4);
}

@media (max-width: 1199.98px) {
    .section-2 .inner-wrap .product-item {
        width: calc((100% - 40px)/3);
    }
}

@media (max-width: 991.98px) {
    .section-2 .inner-wrap .product-item {
        width: calc((100% - 20px)/2);
    }
}

.product-item {
    background-color: #FDFDFD;
    padding: 8px 8px 0 8px;
    border-radius: 10px;
    box-shadow: 0px 4px 28px -2px #00000014;
}

.product-item:hover {
    background-color: #FAE6C2;
    transition: all 0.3s;
}

.product-item .inner-img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
}

.product-item .inner-img img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    display: block;
}


.product-item .inner-content {
    padding: 8px 8px 20px 8px;
}

.product-item .inner-content .inner-title {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text-dark);
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}


.product-item .inner-content .inner-info {
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 26px;
}

.product-item .inner-content .inner-info .inner-info-item {
    color: var(--color-text-light);
    font-size: 12px;
    position: relative;
    font-weight: 500;
}

.product-item .inner-content .inner-info .inner-info-item b {
    font-weight: 700;
}

.product-item .inner-content .inner-info .inner-info-item::after {
    content: "";
    border-radius: 50%;
    width: 3px;
    height: 3px;
    display: inline-block;
    background-color: var(--color-text-light);
    position: absolute;
    top: 6px;
    right: -15px;
}

.product-item .inner-content .inner-info .inner-info-item:last-child::after {
    display: none;
}

.product-item .inner-content .inner-price {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-text-dark);
}

@media (max-width: 575.98px) {
    .product-item .inner-content .inner-info .inner-info-item::after {
        display: none;
    }
}

.section-3 .inner-wrap {
    display: flex;
    background-image: url(/project01/assets/images/Banner.svg);
    justify-content: space-between;
    border-radius: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.section-3 .inner-img-main {
    width: 40%;
    margin-left: 20px;
    margin-top: 36px;
    position: relative;
}

.section-3 .inner-img-main img {
    width: 100%;
    height: auto;
    display: block;
}

.section-3 .inner-content {
    width: 34%;
    text-align: right;
    margin-top: 58px;
    margin-right: 85px;
    position: relative;
}

.section-3 .inner-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    color: var(--color-main);
}

.section-3 .inner-title .inner-title-main {
    font-size: 52px;
    margin-top: 8px;
}

.section-3 .inner-content .inner-desc {
    font-size: 12px;
    font-weight: 500;
    color: #242B33;
    margin-bottom: 24px;
}

.section-3 .inner-content .inner-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px 18px;
}

.section-3 .inner-title .inner-title-sub {
    font-size: 36px;
}

@media (max-width: 1199.98px) {
    .section-3 .inner-title .inner-title-main {
        font-size: 42px;
    }

    .section-3 .inner-title .inner-title-sub {
        font-size: 28px;
    }

    .section-3 .inner-content .inner-buttons {
        flex-wrap: nowrap;
    }

    .section-3 .inner-content {
        margin-top: 24px;
        margin-right: 30px;
    }

    .section-3 .inner-content .inner-buttons {
        gap: 10px 13px;
    }
}

@media (max-width: 991.98px) {
    .section-3 .inner-title .inner-title-main {
        font-size: 36px;
        margin: 0;
    }

    .section-3 .inner-wrap {
        flex-wrap: wrap;
        background-image: url(../images/banner1.svg);
        padding-top: 32px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-3 .inner-img-main {
        width: 100%;
        order: 1;
    }

    .section-3 .inner-content {
        width: 100%;
        order: 0;
        margin: 0;
        text-align: center;
    }

    .section-3 .inner-content .inner-buttons {
        justify-content: center;
    }
}

.section-4 {
    padding: 60px 0;
}

.section-4 .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section-4 .blog-item {
    width: calc((100% - 40px) / 3);
}

@media (max-width: 991.98px) {
    .section-4 .blog-item {
        width: calc((100% - 20px) / 2);
    }
}

@media (max-width: 575.98px) {
    .section-4 .blog-item {
        width: 100%;
    }
}

.blog-item {
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0px 4px 28px -2px #00000014;
    background-color: #FDFDFD;
}

.blog-item:hover {
    background-color: #FAE6C2;
    transition: all 0.3s;
}

.blog-item .inner-img-item {
    overflow: hidden;
    margin-bottom: 8px;
    aspect-ratio: 364/240;
    overflow: hidden;
    border-radius: 10px;
}

.blog-item .inner-img-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.blog-item .inner-content {
    padding: 8px;
}

.blog-item .inner-content .inner-button {
    height: 20px;
    padding: 2px 10px;
    border-radius: 28px;
    font-size: 10px;
    font-weight: 700;
    color: #FDFDFD;
    background-color: #00A7E7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.blog-item .inner-content .inner-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text-dark);
    margin-bottom: 6px;
}

.blog-item .inner-content .inner-detail {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #242B33;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.blog-item .inner-content .four-lines {
    -webkit-line-clamp: 4;
}

.footer {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer .inner-box-1 {
    border-radius: 16px;
    background-color: var(--color-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    gap: 20px;
}

.footer .inner-box-1 .inner-title {
    color: #FDFDFD;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 16px;
    text-wrap: wrap;
    width: 32%;
}

.footer .inner-box-1 .inner-form {
    width: 62%;
    background-color: #ffffff;
    padding: 12px;
    display: flex;
    border-radius: 14px;
    gap: 12px;
}

.footer .inner-box-1 .inner-form input {
    border: 1px solid #99A2A5;
    padding: 0 28px;
    border-radius: 8px;
    flex: 1;
    outline: none;
    background-color: transparent;
}

.footer .inner-box-1 .inner-form input::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: #99A2A5;
}

.footer .inner-box-1 .inner-form button {
    background-color: var(--color-main);
    border-radius: 8px;
    padding: 0 28px;
    color: #FDFDFD;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
}

.footer .inner-box-1 .inner-form button:hover {
    background-color: #00ADEF;
    transition: all 0.3s;
}


.footer .inner-box-2 {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCD1D2;
}

.footer .inner-box-2 .menu ul {
    list-style: none;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    gap: 10px 60px;
    padding: 0;
}

.footer .inner-box-2 .menu ul li a {
    color: var(--color-text-dark);
    font-size: 16px;
    font-weight: 500;
}

.footer .inner-box-2 .social ul {
    display: flex;
    list-style: none;
    gap: 10px 40px;
    font-size: 24px;
    align-items: center;
    padding: 0;
}

.footer .inner-box-2 .social a {
    color: var(--color-text-dark);
}

.footer .inner-box-3 {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.footer .inner-box-3 .copyright {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-light);
    width: 40%;
}

.footer .inner-box-3 .logo {
    width: 20%;
    text-align: center;
}

.footer .inner-box-3 .logo img {
    height: auto;
    width: 115px;
}

.footer .inner-box-3 .provision {
    width: 40%;
}

.footer .inner-box-3 .provision ul {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
}

.footer .inner-box-3 .provision a {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-light);
}

@media (max-width: 991.98px) {
    .footer {
        padding-top: 40px;
        border-radius: 20px;
        padding-bottom: 16px;
    }

    .footer .inner-box-1 {
        flex-wrap: wrap;
    }

    .footer .inner-box-1 .inner-title {
        width: 100%;
    }

    .footer .inner-box-1 .inner-form {
        width: 100%;
    }

    .footer .inner-box-2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer .inner-box-2 .menu {
        width: 100%;
    }

    .footer .inner-box-2 .menu ul {
        justify-content: center;
    }

    .footer .inner-box-3 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer .inner-box-3 .copyright {
        width: 100%;
        text-align: center;
        order: 2;
    }

    .footer .inner-box-3 .logo {
        width: 100%;
        order: 0;
        margin-bottom: 32px;
    }

    .footer .inner-box-3 .provision {
        width: 100%;
        order: 1;
    }

    .footer .inner-box-3 .provision ul {
        justify-content: center;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .footer .inner-box-3 .provision a {
        font-size: 12px;
    }
}

@media (max-width: 767.98px) {
    .footer .inner-box-1 .inner-form {
        flex-wrap: wrap;
    }

    .footer .inner-box-1 .inner-form input {
        width: 100%;
        flex: none;
        height: 48px;
    }

    .footer .inner-box-1 .inner-form a {
        width: 100%;
    }

    .footer .inner-box-1 .inner-form button {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .footer .inner-box-1 .inner-title {
        font-size: 20px;
    }

    .footer .inner-box-2 .menu ul li a {
        font-size: 13px;
    }

    .footer .inner-box-2 .menu ul {
        font-size: 20px;
        gap: 40px;
    }

    .footer .inner-box-2 .social ul {
        gap: 40px;
        font-size: 20px;
    }

}